.bod{text-align: center;
margin-top: 100px;
}
.head{
    font-size: 40px;
}
.login{
    font-size: 30px;
}
.submit{
    border:double;
    padding: 7px 32px;
    margin-top: 5px;
    background-color: rgb(30, 255, 0);
    display: inline-block;text-decoration: none;
    cursor: pointer;
    font-size: 15px;

}
